body{
    background-color: black;
}
.circlesMother{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 5vw;
}
.circle1{
    background-color: black;
    border-radius: 80px;
    border: 2px solid white;
    width: 10vw;
    height: 10vw;
}
.circle2{
    background-color: black;
    border-radius: 80px;
    border: 2px solid white;
    width: 10vw;
    height: 10vw;
}
.circle3{
    background-color: black;
    border-radius: 80px;
    border: 2px solid white;
    width: 10vw;
    height: 10vw;
}
.circle1.ativo{
    background-color: green;
}
.circle2.ativo{
    background-color: green;
}
.circle3.ativo{
    background-color: green;
}
.centralKeyboard {
    width: 99%;
    display: flex;  
    position: absolute;
    bottom: 0;
    justify-content: center;
    margin-bottom: 50px;
}
.keyboard {
    border: 2px solid white;
    padding: 15px;
    display: inline-block;
}
.row{
    display: flex;
}
.key {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.row.last {
    margin-left: 80px;
}